{% extends 'product/base.html'%}
{% block content%}
<br></br>

{%for product in products%}
{% if product.total_quantity <  5 %}
<div class="container-fluid p-0">
  <div class="alert  alert-dismissible" role="alert" style="color: rgb(255, 0, 0)" >
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" class = "text-black text-center" 
    style = "color: #f72a0ada">
      <span aria-hidden="True">&times;</span>
    </button>
    {{product.item_name}} inventory is low!
  </div>
</div>
{%endif%}
{% endfor %}

<div class = "container">
  <h1 
    class= "text-center"
    class = "text-black text-center" 
    style = "color: #f7900ada"> 
    RECENT TRANSACTION
  </h1>

  <br></br>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Product Name</th>
        <th scope="col">Quanity Added to Inventory (+)</th>
        <th scope="col">Quantity Issued to Dealerships (-)</th>
        <th scope = "col">Total Quanity at C3</th>
      </tr>
    </thead>
    {% for product in products%}
    {% if product.issued_quantity > 0 or product.received_quantity > 0 %}
    <tbody>
      <tr> 
        <td>{{product.item_name}}</td>
        <td>{{product.received_quantity}}</td>
        <td>{{product.issued_quantity}}</td>
        <td>{{product.total_quantity}}</td>
      </tr>
    </tbody>
    {%endif%}
    {% endfor %}
  </table> 
</div>
{% endblock%}