{% extends "product/base.html" %}

{% block content %}
<br><br/>
<style>
   .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
  }
    </style>

<div>
    <h1 
        class= "text-center"
        class = "text-black text-center" 
        style = "color: #f7900ada"> 
        CURRENT C3 INVENTORY LEVEL
    </h1>
    <br>
    <div class = "container">
        <a href="{% url 'product:all_sales'%}">
        <input 
        type="submit" 
        value="Recent Inventory Movement" 
        class="btn btn-secondary btn btn-warning" 
        btn type="button"
        />
    </div>

    <div 
        class="center" >       <img src="data:image/png;base64,{{image_base64}}"
        alt="chart"  width=600 height=auto />
    </div>

</div>  
{% endblock content %}
