{% extends 'product/base.html'%} 
{% block content%}
<br />

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h1 class="text-center">ORDER SUMMARY</h1><br>
          <h2 class="lead">Customer Name: {{receipt.car_dealership | title}}</h2>
        </div>
        <div class="card-block">
          <div class="table-responsive">
            <table class="table table-sm">
              <thead>
                <tr>
                  <td><strong>Item Name</strong></td>
                  <td class="text-xs-center"><strong>Item Quantity</strong></td>
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{receipt.item| title}}</td>
                  <td class="text-xs-center">{{receipt.quantity }}</td>
                </tr>
              </tbody>
              <tbody>
                <tr>
                  <a href="{% url 'product:receipt' %}" >
                    <input 
                    type="submit" 
                    value="Email Order Form To Dealership" 
                    class="btn btn-secondary btn btn-warning" 
                    btn type="button"
                    />
                  </a>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}