{% extends 'product/base.html'%}
{% block content%}
<br>
  <h1 
    class= "text-center"
    class = "text-black text-center" 
    style = "color: #f7900ada"> 
    WARRANTY
  </h1>

  <br><br>

  <div class = "container">
    <a href="{% url 'product:add_new_inventory'%}">
      <input 
      type="submit" 
      value="Add New Warranty" 
      class="btn btn-secondary btn btn-warning" 
      btn type="button"
      />

    <a href="{% url 'product:add_category'%}">
      <input 
      type="submit" 
      value="Submit a Claim" 
      class="btn btn-secondary btn btn-warning" 
      btn type="button"
      />
  </div>

  </br>

 
  <br>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Product Category</th>
        <th scope="col">Product Name</th>
        <th scope="col">Numbers of Warranty</th>
        <th scope = "col">Claims Status</th>
      </tr>
    </thead>

    {% for product in products%}
    <tbody>
      <tr> 
        <td>{{product.category_name}}</td>
        <td>{{product.item_name}}</td>
        <td>{{product.total_quantity}}</td>
        <td>
          <a href="{% url 'product:issue_item' product.id %}" >
            <input 
            type="submit" 
            value="View all Warranty for Product" 
            class="btn btn-secondary btn btn-warning" 
            btn type="button"
            />
          </a>
          <a href="{% url 'product:add_to_inventory' product.id %}" >
            <input 
            type= "submit" 
            value="Edit Warranty Detail" 
            class="btn btn-secondary btn btn-warning" 
            type="button"
            />
          </a>
          <a href="{% url 'product:edit_inventory' product.id %}" >
            <input 
            type="submit" 
            value="Transfer Ownership of Warranty" 
            class="btn btn-secondary btn btn-warning" 
            btn type="button"
            />
          </a>
        </td>
      </tr>
    </tbody>
    {% endfor %}
  </table>

</br>
{% endblock%}
